<!doctype html>
<html lang="en">
    <head>
        <title>Contact Form 06</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="user_css/style.css">

    </head>
    <body style="background-image: url(user_img/tax2.jpg);background-size: cover;">
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center mb-5">
                        <h2 class="heading-section">Generate Tax</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="wrapper">
                            <div class="row no-gutters mb-5">
                                <div class="col-md-7">
                                    <div class="contact-wrap w-100 p-md-5 p-4">
                                        
                                        
                                
                                        <form method="#" id="contactForm" name="contactForm" class="contactForm">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label" for="name">Full Name</label>
                                                        <input type="text" class="form-control" name="fullName" id="fullName" placeholder="Name" required>
                                                    </div>
                                                </div>
                                                //- <div class="col-md-6"> 
                                                //-     <div class="form-group">
                                                //-         <label class="label" for="email">Email Address</label>
                                                //-         <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                                                //-     </div>
                                                //- </div>
                                                //- <div class="col-md-6">
                                                //-     <div class="form-group">
                                                //-         <label class="label" for="aadhar">Aadhar Number</label>
                                                //-         <input type="number" class="form-control" name="aadhar" id="aadhar" placeholder="XXXX-XXXX-XXXX-XXXX" required>
                                                        
                                                //-     </div>
                                                //- </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label" for="category" >Category</label>
                                                        <select  class="form-control" style=" padding: 5px;"  id="category" name="category">
                                                            <option value="default">--Select--</option>
                                                            <option value="Residential">Residential</option>
                                                            <option value="Commercial">Commercial</option>
                                                            <option value="OpenLand">OpenLand</option>
                                                            <option value="Construction">Construction</option>     
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6"> 
                                                    <div class="form-group">
                                                        <label class="label" for="size">Property Size in (sqft)</label>
                                                        <input type="number" class="form-control" name="propertySize" id="propertySize" placeholder="0.00" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6"> 
                                                    <div class="form-group">
                                                        <label class="label" for="size">Property Number</label>
                                                        <input type="number" class="form-control" name="propertyNumber" id="propertyNumber" placeholder="XXXXXXX-XXXXXX" required>
                                                    </div>
                                                </div>

                                                
                                                <div class="col-md-6"> 
                                                    <div class="form-group">
                                                        <label class="label" for="ward">Ward Number</label>
                                                        <input type="number" class="form-control" name="wardNumber" id="wardNumber" placeholder="XXX" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                            <label class="label" for="category" >Type Of Construction</label>
                                                            <select  class="form-control" style=" padding: 5px;"  id="typeOfConstruction" name="category">
                                                                <option value="default">--Select--</option>
                                                                <option value="Pucca(RCC Building)">Pucca(RCC Building)</option>
                                                                <option value="Semi-Pucca">Semi-Pucca</option>
                                                                <option value="Kachcha">Kachcha</option>
                                                            </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                            <label class="label" for="category" >Year Of Construction</label>
                                                            <select  class="form-control" style=" padding: 5px;" id="yearOfConstruction" name="yearOfConstruction">
                                                                <option value="default">--Select--</option>
                                                                <option value="Before 1960">Before 1960</option>
                                                                <option value="1960 to 1969">1960 to 1969</option>
                                                                <option value="1970 to 1979">1970 to 1979</option>
                                                                <option value="1980 to 1989">1980 to 1989</option>
                                                                <option value="1990 to 1999">1990 to 1999</option>
                                                                <option value="2000 Onwards">2000 Onwards</option>
                                                            </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                            <label class="label" for="category" >Occupancy Type</label>
                                                            <select  class="form-control" style=" padding: 5px;" id="occupancyType" name="occupancyType">
                                                                <option value="default">--Select--</option>
                                                                <option value="Self occupied">Self occupied</option>
                                                                <option value="Rented out">Rented out</option>
                                                                <option value="Vacant plot">Vacant plot</option>    
                                                            </select>
                                                    </div>
                                                </div>

                                                
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="label" for="#">Property Address</label>
                                                        <textarea name="propertyAddress" class="form-control" id="propertyAddress" cols="30" rows="3" placeholder="Message" required></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="label" for="doc">Tax Related Documents</label>
                                                        <br>
                                                        <input type="file"  name="doc" id="doc" >
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <button  type="submit" class="btn btn-primary" id="submit">Proceed</button>
                                                        
                                                    </div>
                                                    <div class="form-popup" id="myForm">
                                                            <p style="font-size: 1.5 rem;">Your Tax Report Has Been Generated</p>
                                                            <button style="color: white;background-color: #04AA6D;" type="submit" class="btn btn-lg btn-block">Pay</button>
                                                            <button style="color :white;background-color: red;" type="button" class="btn btn-lg btn-block" onclick="closeForm()">Cancel</button>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div style="background-color: #E8EDF0;padding:50px 136px 0px 136px;"  class="instructions">
                                    <h5>Required Documents</h3>
                                    <ul>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-map-marker"></span>
                                </div>
                                <div class="text">
                                <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
                                </div>
                            </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-phone"></span>
                                </div>
                                <div class="text">
                                <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
                                </div>
                            </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-paper-plane"></span>
                                </div>
                                <div class="text">
                                <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
                                </div>
                            </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-globe"></span>
                                </div>
                                <div class="text">
                                <p><span>Website</span> <a href="#">yoursite.com</a></p>
                                </div>
                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <script src="user_js/jquery.min.js"></script>
    <script src="user_js/popper.js"></script>
    <script src="user_js/bootstrap.min.js"></script>
    <script src="user_js/jquery.validate.min.js"></script>

    <script src="user_js/google-map.js"></script>
    <script src="user_js/form_main.js"></script>
    <script src="user_js/generate_tax.js"></script>
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js")
    </body>
</html>

